button {
    display: inline-block;
    padding: 8px 20px;
    border: 1px solid #39bda7;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
    background: none;
    cursor: pointer;

    &:hover {
        background-color: #39bda7;
        color: #fff;
        border: 1px solid #fff;
    }
}


// *************** @Media screens(max-width 600px) ***************
@media (max-width: 600px) {
    button {
        display: inline-flex;
        padding: 10px 5px;
        font-size: 14px;
        display: flex;
    }
  }
