.loading-profile {
    border: 1px solid pink;
    overflow: hidden;
    border-bottom: none;
    height: 50vh;
    .user-profile {
        width: 40%;
        margin-top: 4em;
        margin-left: 10em;

        .user-pic {
            width: 240px;
            height: 240px;
            border-radius: 360px;
            border: 1px solid black;
            margin: 10px 0;

            img {
                width: fit-content;
                border-radius: 360px;
                object-fit: cover;
                width: 240px;
                height: 240px;
            }
        }

        .user-name {
            font-size: 28px;
            display: flex;
            flex-direction: column;
            span:first-child {
                font-weight: bold;

            }
        }

        .user-bio {
            font-size: 23px;
        }
    }

}

.repo-btn-holder {
    border: 2px solid red;
    text-align: center;
    width: fit-content;
    margin: 0 auto 15rem auto;
}


// *************** @Media screens ***************
@media (max-width: 1740px) {
    .loading-profile {
        height: 70vh;
    }

  }