.section {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 1rem auto;
    color: gold;

    h2:last-child {
        margin-right: 18rem;
    }
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    position: relative;
    border: 1px dashed #39bda7;
    width: 80%;

    a {
        color: blue;
        text-decoration: none;
        font-size: 1rem;
    }
}

.user-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .user-profile {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .user-pic {
            width: 20px;
            height: 20px;
            border-radius: 360px;
            border: 1px solid black;
            margin: 10px 0;
        }

        .user-name {
            font-size: 28px;
            font-weight: bold;
        }

        .user-username {
            font-size: 23px;
            margin-left: -16rem;
            margin-bottom: 10px;
        }

        .user-bio {
            font-size: 23px;
            margin-left: -1rem;
        }
    }

    .user-repo {
        width: 40%;
        height: 100%;
        padding: 20px;
        margin-top: 50px;
        margin: 10px 0;

        input {
            width: 40%;
            padding: 6px;
            outline-color: blue;
            font-size: 18px;
            margin-bottom: 20px;
        }
    }
}

.pagination-holder {
    margin: 1rem auto;
    width: 30%;

    @media (max-width: 600px) {
        width: 80%;
    }

    .pagination-btn {
        width: 80%;
        height: 20px;
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 1rem 0;

        a {
            padding: 10px;
            margin: 8px;
            border-radius: 5px;
            border: 1px solid #39bda7; 
            color: #39bda7;
            cursor: pointer;

            @media (max-width: 600px) {
                font-size: 10px;
            }

            &:hover {
                color: #fff;
                background-color: #39bda7;
            }
        }

        .paginate-active a {
            background-color: #39bda7;
            color: #fff;
        }
    }


}

// *************** @Media screens ***************
@media (max-width: 1740px) {
    .section {
        width: 75%;
    
        h2:last-child {
            margin-right: 10rem;
        }
    }


   
  }


  @media (max-width: 600px) {
    .section {
        width: 70% !important;
        margin-top: -4rem;
        margin-left: 0;
        margin-right: 0;
        gap: 5rem;
        padding: 0 1rem;

        h2 {
            font-size: .9rem;
        }
    }

    .main {
        width: 80%;
        padding: 10px 0;
        top: 95rem;
        border: none;
    
        .user-name {
            font-size: 1rem !important;
            font-weight: 300 !important;
        }

        a {
            font-size: .9rem;
        }

    }
  }

  @media (max-width: 376px) {
    .section {
        margin-top: -1rem;
        
        h2 {
            font-size: .9rem;
        }
    }

  }